.mosaic-container {
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 20px; 
  }
  
  .mosaic-row {
	display: flex;
	margin: 0 auto
  }
  
  .cube-wrapper {
	border: 1px solid transparent;
	cursor: pointer;
	transition: border 0.2s ease-in-out;
  }
  
  .cube-wrapper.selected {
	background-color: black;
	border-radius: 5px;
	box-sizing: border-box;
  }